*{
    padding: 0;
    margin: 0;
}


.header-top{
    background-color:#00FF00 ;
    height: 50px;
    padding: 10px;
}
.header-title{
    display :flex; 
    padding:5px;
    font-size:20px;
   
}
.header-title-link{
    margin: 0 auto;

    padding: 10px;
    color:white;
    font-size:20px;
    text-decoration:none;
   
}
#border{
    border-right:2px solid white;
        padding: 0px 10px;
}
.icon{
    padding:0px 5px;
    /* header-top-end */
}
.header-body{
    padding: 10px;
}
#logo{
    width: 100%;
}
.col-item{
   text-transform: uppercase;
  width: 100%;
  font-size:20px;
}
.hedar-body-link{
text-decoration:none;
   margin: 0 auto;
    color:black;
     box-sizing: border-box;
    padding: 2px;
    
    
}
#color{
background-color:#00FF00 ;
border:none;
padding: 3px 4px;
margin-left: -3px;
    
}
        /* header-body-end */
  .header-bottom{
        background-color:#404040 ;
        text-align:center;
       
    
}
ul li {
    display :inline-block;
    padding: 10px;
    margin: 10px;
    
    
}
ul li a{
    text-decoration:none;
    color:white;
    text-transform: uppercase;
}
ul li a:hover{
   background-color:#00FF00 ;
   padding: 10px;
   border-radius: 5px;
   
   
}
        /* section-slider-strat */
      .section-img{
          background-image:url(section-bg.jpg) ;
          background-repeat:no-repeat ;
          background-size:cover;
          height: 400px;
          width: 100%;
         
          margin-top: -20px;
          
      }  
     .img-bg-color{
         background-color:#00FF00 ;
         width: 100%;
         height: 100%;
         padding: 100px;
         opacity:0.5; 
   color:White;
        display:flex; 
       flex-directoin:column;  
       justify-content :center;
       align-content: flex-end;
       
       
    }
   .img-title-item{
           padding: 10px;
           margin: 10px;
           
           font-size:80px;
           text-transform: uppercase;
           text-align:center;
           
   } 
   #button{
       color:black;
       padding:5px 20px;
       margin:0px 0px 0px 250px;
       background-color:#FFF ;
       border:none;
       
   }
   /* sction-produt-items */
  .food-product-title{
              text-align:center;
              padding-top: 50px;
      
  }
  #border-button{
      width: 50px;
      height: 5px;
     padding: 0px;
     margin:0px 0px 50px 0px ;
     border-radius: 5px;
      background-color:#009900;
      border:none;
  }
  /* card */
 .card-title{
      
  }
 .card-text{
     clear :both;
 }
 .parice{
     color:#00FF00;
     float:right;
 }
.link{
    text-decoration:none;
    color:#F4A460;
    float:right;
}
            /* our food strat */
 .delivery-img{
      background-color:#3c3c3c ;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      display :flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      
  }
  #seed-icon{
      background-color:#00FF00 ;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      display :flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
  }
#text-center{
    text-align:center;
    display :flex;
}
#btn-color{
    background-color: #3c3c3c;
    width: 120px;
    height:35px;
    color:white;
    padding:0px 10px;
    border:none;
    border-radius: 3px;
    margin-top:30px ;
    justify-content :center;
    
}
        /* our food end */
        
         /*  img-bg-2-strat  */
         
          .section-img2{
          background-image:url(peanut-bowl.png) ;
          background-repeat:no-repeat ;
          background-size:cover;
          height: 400px;
          width: 100%;
         
          margin-top: 30px;
          
      }  
     .img-bg-color2{
         background-color:black ;
         width: 100%;
         height: 100%;
         padding: 100px;
         opacity:0.8; 
           color:white;
        
       
    }
       
    .img-title-item2{
           text-align:center;
           }
           
    #border-button2{
      width: 50px;
      height: 5px;
     padding: 0px;
     margin:0px 0px 50px 10px ;
     border-radius: 5px;
      background-color:#009900;
      border:none;
  }
  .text-pra{
      text-align:center;
  }
           
  #btn-color2{
    background-color: #00FF00;
    width: 120px;
    height:35px;
    color:white;
    padding:0px 10px;
    border:none;
    border-radius: 3px;
    margin-top:30px ;
    justify-content :center;
    
}
 /* img-bg-2-end */
  .clear-top{
      margin: 30px;
  } 
   
/* section-customar-start */


#women-img{
    width: 130px;
    height: 100px;
    margin-top:-30px ;
}
#center-item{
    box-shadow: 10px 10px 40px #3c3c3c;
    width: 40%;
    margin-right:10px ;
}
.women-name{
   margin:-30px 0px 0px  145px;
 
}
.sell{
    margin:-3px 0px 0px  145px;
    color:#00FF00;
}
.coma{
    float:right;
    color:#00FF00;
    margin-top:-30px ;
}


#man-img-size{
    width: 130px;
    height: 100px;
    margin-top:-30px ;
    }
#center-item-2{
    box-shadow: 10px 10px 40px #3c3c3c;
    width: 40%;
    margin-left:60px ;
    
}
.man-name{
   margin:-30px 0px 0px  145px;
   }
/* sevtion -cutomer-end */

      /* Get in touch-bottom-strat  */
     .row-all-border{
         border: 1px solid black;
         margin: 20px;
         padding: 5px;
         box-sizing:border-box;
     }
     #row-all-border{
         border: 1px solid black;
         margin: 20px;
         padding: 20px;
     }
              
  #btn-color3{
    background-color: #00FF00;
    width: 120px;
    height:35px;
    color:white;
    padding:0px 10px;
    border:none;
    border-radius: 3px;
    margin:30px 0px 0px 300px;
    }
    /* footer-start */
   .footer-start{
       background-color: #3c3c3c;
       margin-top:20px ;
   }
   #bottom-border{
        border-bottom:1px solid #00FF00;
        width: 100%;
       
      
      
    }
   .positon-change{
       color:white;
       margin-top:50px ;
      
       
   }
  .positon-set{
      color:white;
    position:relative ;
    left: 600px;
    margin-top:-30px ;
      
  }
   .footer-bottom{
       margin-top:40px ;
   }
.color-text{
    color:white;
}
.li-color li{
    color:#C0C0C0;
    list-style-type:none;
}
.istagram-img{
    width: 45px;
    height: 40px;
}
.li-text-none li{
    list-style-type:none;
    margin-top:5px ;
    
}
.li-color2 li{
    
    list-style-type:none;
    padding: 5px 0px;
    color:white;
    }

.li-color2 li a{
    color:#C0C0C0;
    
    text-decoration:none;
    }
   .footer-title-link{
       color:white;
       padding: 10px 5px 5px 0px;
       margin-top:5px ;
   }
   /* footer-end */
   
  .footer-end{
       padding: 10px;
       height: 100%;
       width: 100%;
       background-color:white ;
   }
